/* 
EFEITO CARROSSEL COM HTML & CSS - SEM JAVASCRIPT https://www.youtube.com/watch?v=XXUEFueOsAs
Como fazer um SLIDESHOW com HTML e CSS | Higor Feijó https://www.youtube.com/watch?v=zxqGOgsgUtk&t=1328s
Slideshow apenas com CSS https://www.treinaweb.com.br/blog/slideshow-apenas-com-css
Criando um menu horizontal com HTML e CSS https://satellasoft.com/artigo/css/criando-um-menu-horizontal-com-html-e-css
Criando Menu Horizontal com Sub-Menu https://www.youtube.com/watch?v=7u8vR-pQrYQ
*/

/* Propriedades do Container Grid */

.grid-sala {
  display: grid;
  grid-template-columns: auto;
}

.grid-container {
  /*margin-top: 60px;*/
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 10px;
  gap: 10px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
 /* padding: 20px 0;
  font-size: 30px;*/
}

.menu {
  grid-column-start: 1;
  grid-column-end: 4;
}

.carrossel {
  grid-column-start: 1;
  grid-column-end: 4;
}

.cubo {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: none;
  margin: 1em 2em;
}

.depoimento1 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #d9e5e3;
  border: 0.5em solid #c2ccca;
  padding: 1em;
  margin: 1em 1em;
  width: 40ch;
  position: relative;
  transition: transform 1s, box-shadow 2s;
}

.depoimento1:hover {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.8);
  transform: scale(1.2) rotate(-5deg);
}

.depoimento1 img {
  width: 29ch;
  height: 15ch;
  border: 2px solid black;
}

.depoimento2 {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #d9e5e3;
  border: 0.5em solid #c2ccca;
  padding: 1em;
  margin: 1em 1em;
  width: 40ch;
  position: relative;
  transition: transform 1s, box-shadow 2s;
}

.depoimento2:hover {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.8);
  transform: scale(1.2) rotate(+5deg);
}

.depoimento2 img {
  width: 29ch;
  height: 15ch;
  border: 2px solid black;
  }

.formulario {
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  padding: 1em;
  margin: 1em 1em;
}

.depoimento3 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #d9e5e3;
  border: 0.5em solid #c2ccca;
  padding: 1em;
  margin: 1em 1em;
  width: 40ch;
  position: relative;
  transition: transform 1s, box-shadow 2s;
}

.depoimento3:hover {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.8);
  transform: scale(1.2) rotate(-5deg);
}

.depoimento3 img {
  width: 29ch;
  height: 15ch;
  border: 2px solid black;
  }

.depoimento4 {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #d9e5e3;
  border: 0.5em solid #c2ccca;
  padding: 1em;
  margin: 1em 1em;
  width: 40ch;
  position: relative;
  transition: transform 1s, box-shadow 2s;
}

.depoimento4:hover {
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.8);
  transform: scale(1.2) rotate(+5deg);
}

.depoimento4 img {
  width: 29ch;
  height: 15ch;
  border: 2px solid black;
  }


/* Rodapé */

.item-f1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item-f2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item-f3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.borda {
  border: 3px solid rgb(165, 42, 161);
  background-color: #144aa0;
}

.topicos {
  font-size:large;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.item-f1 {
  line-height: 30px;
}

.item-f2 {
  line-height: 30px;
}

.item-f3 {
  line-height: 30px;
}

.simbolos ul li {
  display: inline-block;
  width:40px;
}

.formulario {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
}

/* Cabeçalho */

.menu {
  z-index: 9999;
  top: 0px;
  position:fixed;
  width: 100%;
  background-color: black;
  height: 60px;


}

.center ul li{
  float:left;
  background-color: black;
	width: 150px;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
  font-size: x-large;

}

.center ul li:hover{
	background-color: #2c69cc;
}

#home {
  background-color: green;
}

#home:hover {
  background-color: #2c69cc;
}

.center ul{
	padding: 0px;
}

.center ul ul{
	display: none;
}

.center ul li:hover > ul{
	display:block;
}

.center ul ul li:hover{
	background-color: #144aa0;
}

.center a{
	color: white;
	text-decoration: none;
}

.botao {
  margin-left: 150px;
  margin-top: 10px;
  background-color: red;
  color:white;
  padding: 10px;
}

.botao:hover {
  background-color: blue;
}


/* Estilo do Carrossel */

.carrossel {
    width: 100%;
    height: auto;
}

.galeria {
    overflow: hidden;
  }


.lista_de_slides {

    /*
    Remove os estilos da lista
    */

    list-style-type: none;
    
    /* 
      Deixa todos os itens da lista na horizontal e todos com a mesma largura.
    */

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    /*
    Exibindo um slide de cada vez. Agora temos um slide do lado do outro. Mas temos que fazer com que apareça apenas um de cada vez. Bom, isso é muito simples: basta que cada slide (li) preencha 100% da largura disponível.  Se temos quatro slides (li), e cada um precisa ocupar 100% do espaço disponível, nosso ul precisa ter um tamanho de 400%. Usamos uma variável do CSS para armazenar o total de itens em nosso Slideshow, e passamos essa variável para a função calc(). Assim podemos mudar facilmente o total de itens dos nossos slides.
    */

    --total-items: 4;
    width: calc(var(--total-items) * 100%);

    /*
    Sabemos que cada li possui um tamanho de 100%, certo? Então para exibir o primeiro slide, o left tem que ter valor 0. Para exibir o segundo slide, temos que mover 100% para a esquerda, ou seja, left precisará ter o valor -100%. Para exibir o terceiro slide, temos que mover 200% para a esquerda, ou seja, left precisará ter o valor -200%.Vamos aproveitar novamente as variáveis do CSS e a função calc() para tratar isso.*/

    --selected-item: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    
    /*
    Podemos indicar uma transição para ter um efeito mais animado quando mudarmos de slide. Para isso usaremos a propriedade transition.
    */

    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  .lista_de_slides:hover {
    animation-play-state: paused;
  }

  .slide img{
    width: 100%;
    height: auto;
  }

/* Estilo do cubo */

.cubo {
  width: 200px;
  height: 200px;
  animation: rotate 10s infinite alternate;
  transform-style: preserve-3d;
  margin-top: 60px;
  margin-bottom: 0px;
}

.cubo:hover {
  animation-play-state: paused;
}

.face {
  background: linear-gradient(45deg, #4fd1c522, #4fd1c5cc);
  border: 2px solid #4fd1c5;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  font-weight: bold;
  color: #234e52;

  width: 200px;
  height: 200px;
  position: absolute;
  transition: transform 1s;
}

.face img {
  width: 100%;
  height: 200px;
}

.face--front {
  transform: translateZ(100px);
}

.face--front:hover {
  transform: translateZ(102px) scale(1.5);
}

.washington {
  display: none;
  position:absolute;
  transform: translateZ(105px);
  top: 35%;
  left: 35%;
  color: white;
  font-size: small;
}

.face--front:hover .washington {
  display: block;
}

.face--right {
  transform: rotateY(90deg) translateZ(100px);
}

.face--right:hover {
  transform: rotateY(90deg) translateZ(102px) scale(1.5) ;
}

.londres {
  display: none;
  position:absolute;
  transform: translateZ(105px);
  top: 35%;
  left: 35%;
  color: white;
  font-size: small;
}

.face--right:hover .londres {
  display: block;
}

.face--back {
  transform: rotateY(180deg) translateZ(103px);
}

.face--back:hover {
  transform: rotateY(180deg) translateZ(103px) scale(1.5) ;
}

.paris {
  display: none;
  position:absolute;
  transform: translateZ(105px);
  top: 35%;
  left: 35%;
  color: white;
  font-size: small;
}

.face--back:hover .paris {
  display: block;
}

.face--left {
  transform: rotateY(-90deg) translateZ(103px);
}

.face--left:hover {
  transform: rotateY(-90deg) translateZ(103px) scale(1.5) ;
}

.madrid {
  display: none;
  position:absolute;
  transform: translateZ(105px);
  top: 35%;
  left: 35%;
  color: white;
  font-size: small;
}

.face--left:hover .madrid {
  display: block;
}


.face--top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: black;
}

.face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: black;
  
}
